<!DOCTYPE html>
<html lang = 'en'>
<head>
  {% block title %}<title>PORTFOLIO</title>{% endblock %} 
  <meta charset="utf-8">
  <!-- easy viewport optimization -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- loading custom css file -->
  <!--{% load static %}-->
  <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
</head>
<body>
  <div>
    <div class=''>
      <h1><strong><u>Portfolio</u></strong></h1>

      <form method='GET' action='{% url 'search' %}'>
        {% csrf_token %}
        <input type='search' name='ticker_search' onfocus="this.value=''" value=''>
        <button type='submit'>Search</button>
      </form>
      <div class='front-header'>
      {% if user.is_authenticated %}
        <p>User: {{ user.get_username }}</p>
        <a href='{% url 'portfolio_detail' %}'>Your Portfolio</a>
        <a href='{% url 'logout' %}'>Logout</a>
      {% else %}  
        <a href='{% url 'login'%}'>Login</a>
      {% endif %}
        <a href='{% url 'leaderboard'%}'>Leaderboard</a>
      </div>
    </div>
    <div style='text-align:center;' class='container container-table'>
    {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>