<!DOCTYPE html>
<html lang = 'en'>
<head>
  {% block title %}<title>PORTFOLIO</title>{% endblock %} 
  <meta charset="utf-8">
  <!-- easy viewport optimization -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- loading custom css file -->
  <!--{% load static %}-->
  <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
</head>
<body class='bg-dark'>
  <nav class='navbar navbar-light bg-light'>
    <div class='container-fluid'>
      <h1 class='navbar-brand'><strong><u>Portfolio Simulator</u></strong></h1>
      <form class='d-flex' method='GET' action='{% url 'search' %}'>
        {% csrf_token %}
        <input class='form-control me-2' type='search' name='ticker_search' onfocus="this.value=''" value=''>
        <button class='btn btn-outline-dark' type='submit'>Search</button>
      </form>
      <div class='front-header'>
      {% if user.is_authenticated %}
        <p>User: {{ user.get_username }}</p>
        <a class='btn btn-outline-dark' href='{% url 'portfolio_detail' %}'>Your Portfolio</a>
        <a class='btn btn-outline-dark' href='{% url 'leaderboard'%}'>Leaderboard</a>
        <a class='btn btn-outline-dark' href='{% url 'logout' %}'>Logout</a>
      {% else %}  
        <a class='btn btn-outline-dark' href='{% url 'leaderboard'%}'>Leaderboard</a>
        <a class='btn btn-outline-dark' href='{% url 'login'%}'>Login</a>
      {% endif %}
      </div>
    </div>
  </nav>

    <div style='text-align:center; padding-top:20vh; padding-bottom: 20vh; margin-top: 6vh' class='container container-table bg-light rounded'>
    {% block content %}{% endblock %}
    </div>
</body>
</html>