{% extends 'base.html' %}

{% block content %}
<h2>{{user}}'s Portfolio</h2>
{% if user.portfolio %}
  {% if user.portfolio.stock_set.all %}
  <table style=''>
  <tr>
    <table style='display:inline-block; margin: auto; justify-content:center'>
      <tr>
        <td>Company</td>
        <td>Ticker</td>
        <td>Shares</td>
        <td>Average Price</td>
        <td>Total Cost</td>
      </tr>
      {% for stock in user.portfolio.stock_set.all %}
        <tr>
          <td>{{ stock.company }}</td>
          <td>{{ stock }}</td>
          <td>{{ stock.shares }}</td>
          <td>{{ stock.price|floatformat:2 }}</td>
          <td>{{ stock.stock_cost|floatformat:2 }}</td>
        </tr>
      {% endfor %}
    </table>
    <table style='display:inline-block;'>
      <tr>
        <td>Current Value</td>
      </tr>
      {% for value in current_values %}
      <tr>
        <td>
        {{ value|floatformat:2 }}
        </td>
      </tr>
      {% endfor %}
    </table>
  </tr>
  {% else %}
    <tr>You don't have any stocks!</tr>
  {% endif %}
  <br><tr>Available Funds: ${{ user.portfolio.portfolio_available_funds|floatformat:2 }}</tr><br>
  <tr>Portfolio Value: ${{ portfolio_value|floatformat:2 }}</tr>
  </table>
{% else %}
  <p>You don't have a portfolio!</p>
  <form method='POST' action=''>
  {% csrf_token %}
    {{ form }}
    <button type='submit'>Create</button>
  </form>
{% endif %}
{% endblock %}
